@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

:root {
    --font-family: "Helvetica";
    --font-family-Open-Sans: "Open Sans";
    --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    --gradient-bar: linear-gradient(283.22deg, #ae67fa -13.86%, #f49867 99.55%);
    --gradient-scroll-hover: linear-gradient(283deg, #a34eff -13.86%, #f18349 99.55%);
    --color-bg: #040c18;
    --color-footer: #031b34;
    --color-blog: #042c54;
    --color-text: #fff;
    --color-subtext: #ff8a71
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #040c18;
    background: var(--color-bg)
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(283.22deg, #ae67fa -13.86%, #f49867 99.55%);
    background: var(--gradient-bar);
    border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(283deg, #a34eff -13.86%, #f18349 99.55%);
    background: var(--gradient-scroll-hover);
    border-radius: 4px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

body {
    background-color: var(--color-bg);
    color: var(--color-text)
}

a {
    color: inherit;
    text-decoration: none
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem
    }

    .section__margin {
        margin: 4rem
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem
    }

    .section__margin {
        margin: 4rem 2rem
    }
}

.docwire__navbar {
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: initial;
    display: flex;
    justify-content: space-between;
    padding: .5rem 6rem
}

.docwire__navbar-links_logo {
    background-color: var(--color-bg);
    display: flex;
    margin-right: 2rem
}

.docwire__navbar-links_logo img {
    filter: invert(1) brightness(2);
    height: 65px;
    mix-blend-mode: difference
}

.docwire__navbar-links_container {
    display: flex;
    flex-direction: row
}

.docwire__navbar-getintouch {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.docwire__navbar-links_container p, .docwire__navbar-menu_container p {
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 1rem;
    text-transform: capitalize
}

.docwire__navbar-getintouch button, .docwire__navbar-menu_container button {
    background: #9650fa;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    outline: none;
    padding: .4rem 1rem
}

.docwire__navbar-menu {
    display: none;
    margin-left: 1rem;
    position: relative
}

.docwire__navbar-menu svg {
    cursor: pointer
}

.docwire__navbar-menu_container {
    align-items: flex-end;
    background: #000f2a;
    border-radius: 5px;
    box-shadow: 0 0 5px #0003;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
    min-width: 210px;
    padding: 2rem;
    position: absolute;
    right: 0;
    text-align: end;
    top: 40px
}

.docwire__navbar-menu_container p {
    margin: 1rem 0
}

.docwire__navbar-menu_container-links-getintouch {
    display: none
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px
}

@media screen and (max-width: 1050px) {
    .docwire__navbar-links_container {
        display: none
    }

    .docwire__navbar-menu {
        display: flex
    }

    .docwire__navbar-getintouch {
        display: none
    }

    .docwire__navbar-menu_container {
        top: 20px
    }

    .docwire__navbar-menu_container-links-getintouch {
        display: block
    }
}

@media screen and (max-width: 700px) {
    .docwire__navbar {
        padding: 2rem 4rem
    }
}

@media screen and (max-width: 550px) {
    .docwire__navbar {
        padding: 2rem
    }
}

.docwire__header {
    display: flex;
    justify-content: center;
    margin-top: 15px
}

.docwire__header-software {
    background-color: var(--color-bg);
    display: flex;
    font-family: var(--font-family);
    max-width: 1126px;
    width: 80vw
}

.docwire__header-software-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1vw;
    width: 50%
}

.docwire__header-software-content_header {
    font-family: var(--font-family);
    font-size: 3.3rem;
    font-weight: 600;
    margin-top: 10px
}

.docwire__header-software-content_text {
    color: #7c7c7c;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    line-height: 1.6;
    max-height: none;
    object-fit: fill;
    overflow: hidden
}

.docwire__header-software-content img {
    justify-content: center;
    max-height: 500px;
    object-fit: contain
}

@media screen and (max-width: 550px) {
    .docwire__header-software-content {
        align-items: flex-start;
        width: 100%
    }

    .docwire__header-software-content:nth-child(2) {
        display: none
    }
}

.docwire__slider {
    background-image: var(--gradient-bar);
    display: flex;
    height: 4em;
    margin-top: 3vw;
    max-width: 100%;
    width: 100%
}

.docwire__slider-marquee {
    display: flex;
    flex-flow: row;
    height: 4em;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden
}

.docwire__slider-marquee_content {
    align-items: center;
    animation: move-rtl 20s linear infinite;
    display: flex;
    justify-content: flex-start
}

.docwire__slider-marquee_content_text {
    align-items: center;
    color: #000;
    display: flex;
    font-family: Arial, serif;
    font-size: 2.1em;
    justify-content: center;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-right: 1.5em;
    text-shadow: 2px -1px #fff
}

@keyframes move-rtl {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.docwire__haveyouever {
    display: flex;
    font-family: var(--font-family);
    justify-content: center
}

.docwire__haveyouever-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 3vh;
    margin-top: 5vh;
    max-width: 1126px;
    padding-left: 0;
    padding-right: 0;
    width: 80vw
}

.docwire__haveyouever-section img {
    max-width: 1126px;
    width: 70vw
}

.padding {
    padding-left: 3em;
    padding-right: 3em
}

.docwire__haveyouever-h1 {
    font-size: min(3em, 42px)
}

.docwire__haveyouever-h2 {
    color: #7c7c7c;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-right: 3vw;
    padding-top: 3vh;
    text-align: justify
}

.list {
    margin-bottom: -2px;
    padding-bottom: 0;
    padding-left: 0
}

.list-item {
    color: gray;
    font-family: var(--font-family-Open-Sans);
    font-size: 22px;
    font-weight: 500;
    line-height: 30px
}

.docwire__haveyouever-content_text {
    color: #7c7c7c;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    height: auto;
    max-height: none;
    object-fit: fill;
    overflow: hidden
}

@media screen and (max-width: 750px) {
    .docwire__haveyouever-section, .docwire__haveyouever-section img {
        width: 90vw
    }
}

@media screen and (max-width: 550px) {
    .docwire__haveyouever-section {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100vw
    }

    img {
        display: none
    }
}

.docwire__unlockthepower, .docwire__unlockthepower-content {
    align-items: center;
    display: flex;
    flex-direction: column
}

.docwire__unlockthepower-content {
    height: auto;
    margin-bottom: 15vh;
    margin-top: 0;
    max-width: 1126px;
    padding-left: 0;
    padding-right: 0;
    width: 80vw
}

.docwire__unlockthepower-content_subheader {
    color: #7c7c7c;
    font-family: var(--font-family-Open-Sans);
    font-size: min(1.2em, 20px);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-top: 1em;
    max-width: 1126px;
    text-align: center;
    text-decoration: none;
    width: auto
}

.docwire__unlockthepower-content_header {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: min(3em, 42px);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
    width: 50%
}

.docwire__unlockthepower-content_section {
    color: #7c7c7c;
    font-family: var(--font-family-Open-Sans);
    font-size: min(1.2em, 20px);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 100px;
    max-width: 1126px;
    text-align: left;
    text-decoration: none;
    width: 70%
}

.docwire__unlockthepower-content_infocard_section {
    align-items: flex-start;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-top: 0;
    max-width: 1126px;
    position: static;
    width: 80vw
}

.docwire__unlockthepower-content_infocard_single {
    background-image: var(--gradient-bar);
    border-radius: 6px;
    height: auto;
    margin-left: 0;
    padding: 2px;
    width: 32%
}

.docwire__unlockthepower-content_infocard_content {
    align-items: flex-start;
    background-color: var(--color-bg);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-Open-Sans);
    height: 100%;
    padding: 20px;
    width: 100%
}

.lightning {
    display: block;
    height: 40px
}

.infocard_header {
    font-size: min(1.2em, 20px);
    margin-top: .3em;
    width: 90%
}

.infocard_paragraph {
    color: #7c7c7c;
    font-size: min(1em, 16px);
    font-weight: 600;
    height: auto;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: .4em;
    max-height: none;
    object-fit: fill;
    overflow: hidden
}

@media screen and (max-width: 750px) {
    .docwire__unlockthepower-content_section {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 95vw
    }

    .docwire__unlockthepower-content_header {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 85%
    }

    .docwire__unlockthepower-content_infocard_section {
        align-items: center;
        flex-direction: column
    }

    .docwire__unlockthepower-content_infocard_single {
        border-radius: 6px;
        margin-bottom: 1.5rem;
        margin-left: 0;
        padding: 2px;
        width: 100%
    }
}

@media screen and (max-width: 550px) {
    .docwire__unlockthepower-content, .docwire__unlockthepower-content_section {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 100vw
    }

    .docwire__unlockthepower-content_header {
        padding-left: 10vw;
        padding-right: 10vw;
        width: 85%
    }
}

.docwire__wingssection {
    align-items: center;
    display: flex;
    flex-direction: column
}

.docwire__wingssection-container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 0;
    max-width: 1126px;
    padding-top: 100px;
    text-align: left;
    width: 80vw
}

.docwire__wingssection-container_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-self: center;
    padding-top: 0;
    width: 50%
}

.docwire__wingssection-container_text h3 {
    font-family: var(--font-family);
    font-size: min(3em, 42px);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: left
}

.docwire__wingssection-container_text p {
    color: #7c7c7c;
    font-family: var(--font-family-Open-Sans);
    font-size: min(1.2em, 20px);
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 1126px;
    text-decoration: none;
    width: auto
}

.docwire__wingssection-container_wings {
    animation: move-breath 5s linear infinite
}

.docwire__wingssection-container_wings img {
    width: 100%
}

@keyframes move-breath {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(10vh)
    }
    to {
        transform: translateY(0)
    }
}

@media screen and (max-width: 1250px) {
    .docwire__wingssection-container_text {
        width: 60vw
    }

    .docwire__wingssection-container_wings {
        width: 40vw
    }

    .docwire__wingssection-container_wings img {
        width: 100%
    }
}

@media screen and (max-width: 750px) {
    .docwire__wingssection-container {
        flex-direction: column;
        width: 95vw
    }

    .docwire__wingssection-container_text {
        width: 80vw
    }

    .docwire__wingssection-container_wings {
        display: none
    }
}

.docwire__contact {
    display: flex;
    justify-content: center
}

.docwire__contact-bg {
    align-items: stretch;
    animation: gradient 8s ease infinite;
    background-image: var(--gradient-bar);
    background-size: 200% 200%;
    border-radius: 7px;
    display: flex;
    height: 80vh;
    margin-bottom: 10vh;
    max-width: none;
    width: 90vw
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

.docwire__contact-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 1vw;
    justify-content: center;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    width: 50%
}

.docwire__contact-text_h1 {
    font-family: var(--font-family);
    font-size: 5.5em;
    font-weight: 600;
    letter-spacing: -4px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-transform: capitalize;
    white-space: normal
}

.docwire__contact-text_section {
    font-family: var(--font-family-Open-Sans);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 25px;
    max-height: none;
    object-fit: fill;
    text-align: left;
    width: 80%
}

.docwire__contact-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 50%
}

.docwire__contact-form_form {
    background-color: #111;
    border-radius: 10px;
    color: #fff;
    flex: 0 1 auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    max-width: 500px;
    padding: 50px;
    width: 100%
}

h2 {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 1;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 0
}

.select {
    background-color: #111;
    color: #7c7c7c;
    display: flex;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    width: auto
}

.input, .select {
    border: 1px #7c7c7c;
    height: 50px
}

.input {
    border-style: none none solid;
    margin-bottom: 30px;
    width: 100%
}

.input, .textarea {
    align-items: flex-start;
    background-color: #fff0;
    color: #d9d9d9;
    display: block;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    padding-left: 0
}

.textarea {
    border: 1px solid #7c7c7c;
    height: 200px;
    max-height: 27vh;
    padding: .5rem;
    resize: vertical;
    width: 99%
}

.submitButton {
    background-color: #9747ff;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: inherit;
    margin-top: 30px;
    padding: 14px 20px;
    text-decoration: none;
    width: 100%
}

.FormAccepted {
    display: flex;
    justify-content: center
}

.AcceptedParagraph {
    align-items: flex-start;
    background-color: #fff0;
    color: #d9d9d9;
    display: block;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    font-weight: 600;
    padding-left: 0
}

/*# sourceMappingURL=main.ba9f5cef.css.map*/